html {
    margin: 0;
}

span {
    display: block;
}

.front-section {
    
     border: 1px solid gray;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(233, 227, 227); 
}

.front-one{
     border: 1px solid grey;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(192, 187, 187);
    color: black;
    text-decoration: none; 
}

.front-two{
     border: 1px solid grey;
    width: 200px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(226, 220, 220);
    color: black;
    text-decoration: none; 

}

.canvas {
    margin: 100px auto 100px;
    width: 80%;
    text-align: center;
}

.button {
    width: 100px;
    height: 100px;
    border: solid black 2px;
    display: inline-block;
}

#grey {
    background: grey;
}

#white {
    background: white;
}

#blue {
    background: blue;
}

#yellow {
    background: yellow;
}