*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: cadetblue;
}
.front-section {
    
    border: 1px solid gray;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 10px;
   background-color: rgb(233, 227, 227); 
}

.front-one{
    border: 1px solid grey;
   width: 100px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(192, 187, 187);
   color: black;
   text-decoration: none; 
}

.front-two{
    border: 1px solid grey;
   width: 200px;
   height: 30px;
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: rgb(226, 220, 220);
   color: black;
   text-decoration: none; 

}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

#banner{
    font-size: 20px;
    font-weight: 700;
    color: #fff;
}

#clock{
    /* border: 2px solid black; */
    height: 60px;
    width: 180px;
    border-radius: 10px;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    font-weight: 800;
    color: #fff;
}